
<style>   
Body 
    {  
    font-family: Calibri, Helvetica, sans-serif;  
    background-color: rgb(136, 179, 207);  
    }  
img 
    {
    display: block;
    margin-left: auto;
    margin-right: auto;
    }
button 
    {   
    background-color: rgb(0, 151, 255);   
    width: 100%;  
    color:;    
    padding: 15px;   
    margin: 10px 0px;   
    border: none;   
    cursor: pointer;   
    }   

 form 
    {   
    border: 3px solid #f1f1f1; 
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    }   
 input[type=text], input[type=password] 
    {   
    width: 100%;   
    margin: 8px 0;  
    padding: 12px 20px;   
    display: inline-block;   
    border: 2px solid green;   
    box-sizing: border-box;   
    }  
 button:hover 
    {   
    opacity: 0.7;   
    }   
  .cancelbtn 
    {   
    width: auto;   
    padding: 10px 18px;  
    margin: 10px 5px;  
    }   
        
 .container 
    {   
    padding: 65px;  
    width: 80%; 
    margin-left: auto;
    margin-right: auto;
    background-color: lightblue;  
    }  

